@font-face{font-family:'Sony';src:url('../fonts/Sony_rus.otf') format('truetype')}

body {
  font-family: "Spectral", sans-serif;
  margin: 0;
  padding: 0;

}

h2,
h3,
p {
  font-family: "Spectral", sans-serif;

}

.top_a:hover {

  text-decoration: none;
}




.main-header {
  background-image: url("../img/main-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  outline: 5px solid red;

}

.videorolik {
  width: 100%;
  height: 100%;


}

.header_nav {
  display: flex;
  align-items: center;
  padding-left: 100px;

}

.solo_news_section {
  background-color: #001537;

}

.header_nav ul {
  list-style-type: none;
  display: flex;



}

.solo_p {
  padding: 50px 0;
  color: #ffffff;
      font-family: 'Spectral', serif;
  font-size: 16px;
  text-align: center;

}

.solo_news img {

  width: 50%;
}

.solo_news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.bottom_a {

  font-size: 12px;
  font-family: "Spectral";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 10.68px rgba(65, 65, 65, 0.004);


}




.top_a {
  font-size: 12px;
  font-family: "Spectral";
  color: rgb(4, 20, 98);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: inset 0 -20px 10px 0 #8986b8;
  font-weight: 900;
  white-space: nowrap;

}

.header_nav li:not(last-child) {
  padding-right: 10px;

}


.h2_news {
  color: #FFFFFF;
      font-family: 'Spectral', serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 50px;


}

.style-news-list {
  padding-top: 50px;
}

.news_li {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  color: #001537;
  ;
      font-family: 'Spectral', serif;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;

}
.news_li .krug{

  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.news_li img {
  width: 100%;
  /* min-height: 25px; */
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

ul {

  list-style-type: none;
}

.news_p {

  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -ms-text-overflow: ellipsis;
  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 5;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
}

.news_li h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

div[class^="effect-"] {
  /* margin: 0 auto; */
  padding: 10px 0;
  /* width: 400px; */
  text-align: center;
  border-radius: 15px;
}


.effect-2 {
  background-color: #001537;
}

.effect-2 a {
  padding: 0 20px;
  height: 45px;
  color: #ffffff;
  line-height: 45px;
}

.effect-2 a::before,
.effect-2 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
}

.effect-2 a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.effect-2 a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.effect-2 a:hover::before {
  left: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(-50%);
}

.effect-2 a:hover::after {
  right: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(50%);
}

.effect-2 a:hover {
  color: #ffffff;
  text-decoration: none;

}

.style-news-list {
  margin: 0;

}

.style-news {

  background-color: #001537;
}

.news_li:not(last-child) {
  margin-bottom: 20px;

}

.col-xl-3.news_li {
  padding-right: 0px;
  padding-left: 0px;

  -ms-flex: 0 0 25%;
  flex: 0 0 23%;

  margin-right: 15px;

}

.news_li h3,
.news_li p {

  padding-left: 10px;
  padding-right: 10px;

}


.country_main{

background-color: #001537;

}
.happy{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
    font-family: 'Spectral', serif;
font-size: 17px;


}
.p_player{
  color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    font-family: "Spectral";
}
.c_row{
  align-items: center;
}
.krug{
  margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    width: 100%;
}
.players{
  background-color: #001537;
}
.h3_player{

  color: #ffffff;
    font-family: "Spectral";
    font-size: 50px;
}
.happy_d li{
color: #ffffff;
    font-family: 'Spectral', serif;
font-size: 15px;


}
.mini_happy{
color: #ffffff;
    font-family: 'Spectral', serif;
font-size: 15px;

}
.region_logo{

  width: 40%;
  position: absolute;
  top: 0px;
  left: 8px;

}
.region_main{
  padding-top: 25px;



}



.region_bottom{
  display: flex;
  position: relative;
  padding: 5px;

}
.region_main{
  margin-bottom: 50px;
  border-width: 1px;
  border-color: rgb(0, 182, 255);
  border-style: solid;
  border-radius: 30px;
  background-color: rgb(0, 9, 53);
  box-shadow: 0px 0px 42.5px 7.5px rgba(0, 168, 255, 0.4), 0px 0px 16px 4px rgba(255, 255, 255, 0.5);
}
.region_bottom p{

    border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%,#fffbce 74%, #542100 84%, #ffdbae 99%);
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    padding: 10px;
    margin-left: 40%;
    color: tan;
    line-height: 1.2;
    text-align: right;
    font-family: 'Spectral', serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
}

.oblast_img{

  width: 100%;
  /* border-radius: 30px; */
  border-radius: 0px 0px 30px 30px;
  padding-top: 10px;
}




.happy_d{

  border-radius: 41px 41px 41px 41px;
  border-style: solid;
    border-width: 8px 3px 8px 3px;
    border-color: #6DC7D6;
    box-shadow: 0px 0px 10px 0px #6DC7D6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 47px 47px 47px 47px;
    margin-bottom: 50px;
}
.happy_notes{
text-align: center;
font-family: 'Sony', serif;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../img/hren.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #015eec;
    font-weight: 800;

}



.regions{
background-color: #001537;
background-image: url('../img/cities.png');
background-repeat: no-repeat;
background-size:cover;
background-position: center;
padding: 50px 0px;

}



@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
  }
  100% {
     box-shadow: 0 0 0 20px rgba(255,255,255,0);
  }
}

.h3_region{
    color: rgb(0, 170, 255);
    line-height: 1.2;
    text-align: center;
        font-family: 'Spectral', serif;
    font-weight: 600;
    text-transform: uppercase;
    border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%,#fffbce 74%, #542100 84%, #ffdbae 99%) 1;
    border-width: 1px;
    border-style: solid;
    border-radius:30px;
    padding: 20px 0px;
    font-size: 20px;
    border-image-slice: 1;
    box-shadow: 0 0 40px 0 #007cfe3c;
    border: 1px solid #ffdbae;
    animation: animated-border 1.5s infinite;
    background-color: #001537;
  

}
.h3_region span{

  font-size:15px;
}
.regions ul{

  margin: 0;
}

.completed_konkurs{
background-color: #001537;
padding: 50px 0px;

}
.effect-4 {
  background-color: #ffffff;
}

.effect-4 a {
  padding: 8px;
  color: #001537;
  font-weight: bold;
}

.effect-4 a:hover {
  color: #001537;
  transition: color 0.3s;
  text-decoration: none;
}

.effect-4 a::before,
.effect-4 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #001537;
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.effect-4 a::before {
  top: 0;
  transform: translateY(-10px);
}

.effect-4 a::after {
  bottom: 0;
  transform: translateY(10px);
}

.effect-4 a:hover::before,
.effect-4 a:hover::after {
  opacity: 1;
  transform: translateY(0);
}
.style-news-list .img_compl_konkurs{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.radius{

  border-radius: 50px;
  background-color: #001537;
    color: #ffffff;
    border: 1px solid;
}

.a_region{
  margin:0 auto;
  text-align: center;
  display: inherit;
}
.a_region:hover{

  text-decoration: none;
}

.region_img{
width: 100%;

}
.lines{
	font-family: sans-serif
}
.center{

  text-align:center;
}
.counter_h3{

  color: #CC9933;
        font-family: 'Spectral', serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
}
.region_counter{
background-color: #001537;
padding-top: 50px;

}
.cifra1, .cifra2{
  
  color: #6ec1e4;
  font-family: "Spectral", Sans-serif;
  font-weight: 800;
  font-size: 50px;

}  
.slider_img{
width: 100%;
height: 100hv;

}
.s1{
  background-image: url(../img/slaid1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  }
.b_blue{

  background-color: rgb(0, 169, 244);
}
.b_dblue{
background-color:#3b31c4;

}
.b_brown{
background-color: #7d490e;
    box-shadow: 0 0px 20px 0 blue !important;
    

}
.players_h3{

  color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    font-family: "Spectral";
}
.center{
  text-align: center;
}
.b_lazur{
  background-color: #00ecea;
}

.video{

background-color:#001537;
padding: 50px 0px;

}
.single_h2{

  text-align: center;
        font-family: 'Sony', serif;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/hren.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #015eec;
    font-weight: 800;
}
  .button {
    margin-top: 100px;
    padding: 20px 0px;
    width: 250px;
    font-size: 16px;
    /* font-family: "Sony [Rus by me]"; */
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 0px 10.68px rgba(65, 65, 65, 0.004);
    border-radius: 15px;
        font-family: 'Spectral', serif;
    font-weight: 600;
    box-shadow: inset 5px -5px 20px 0 #0062b8;

  }
  .slide3_h3_left{
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 30%;
    left: 21%;
    color: #00ecea;
        font-family: 'Spectral', serif;
    font-size: 35px;
  }
  .slide3_h3_right{
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 30%;
    left: 66%;
    color: #00ecea;
        font-family: 'Spectral', serif;
    font-size: 35px;
  }
  .bl_krug{

    border-radius: 41px 41px 41px 41px;
    border-style: solid;
    border-width: 8px 3px 8px 3px;
    border-color: #6DC7D6;
    box-shadow: 0px 0px 10px 0px #6DC7D6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 47px 47px 47px 47px;
  }
  .project_desc{
background-color: #001537;

  }
  .h3_desc{

    color: #CC9933;
        font-family: 'Spectral', serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
 
  .desc_p{

    color: #ffffff;
        font-family: 'Spectral', serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .btnflip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
  }
  .btnflip-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    background-color: rgba(255,255,255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 21px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
  
  }
  .btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);
    box-shadow: inset 5px -5px 20px 0 #0062b8;
  }
  
  .btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
  }
  .btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);
  }
  .btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);
  }
  .btnflip-item.btnflip__center {
    background: linear-gradient(to left, #00A9F4, #00a9f4);
  }
  .btnflip-item.btnflip__center1 {
    background: linear-gradient(to left, #07cccd, #07cccd);
  }
  .btnflip-item.btnflip__center2 {
    background: linear-gradient(to left, #362AD6, #362AD6);
  }
  .btnflip-item.btnflip__center::before,   .btnflip-item.btnflip__center1::before,   .btnflip-item.btnflip__center2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ffdd1f, #c31a5b);
    border-radius: 21px;
    transform: translateZ(-1px);
  }
  .btnflip:hover .btnflip-item.btnflip__center, .btnflip:hover .btnflip-item.btnflip__center1, .btnflip:hover .btnflip-item.btnflip__center2  {
    transform: rotateX(-180deg);
  }
   
.knopka_div{
  position: relative;
    margin-top: 50px;
}
.sliders{
  position: relative;
}
.knopka_slide_left{

  position: absolute;
  top: 10%;
  left: 20%;
}

.knopka_slide_right_bottom_b{
  position: absolute;
  top: 73%;
  left: 65%;
}
.knopka_slide_left_bottom_b{
  position: absolute;
  top: 73%;
  left: 20%;
}
.knopka_slide_left_bottom{
  position: absolute;
  top: 70%;
  left: 20%;
}
.knopka_slide_right_bottom{
  position: absolute;
  top: 70%;
  left: 65%;
}
.knopka_slide_right{

  position: absolute;
    top: 10%;
    left: 65%;
}
  .flexik{

    display: flex;
    justify-content: center;
  }
  .s2{

    background-image: url('../img/slaid2.jpg');
background-repeat:no-repeat;
background-size:cover;
height: 100vh;
width:100%
  }
  .s3{

    background-image: url('../img/slaid3.png');
background-repeat:no-repeat;
background-size:cover;
height: 100vh;
  }
  .s4{

    background-image: url('../img/slaid4.png');
background-repeat:no-repeat;
background-size:cover;
height: 100vh;
  }
  .s5{

    background-image: url(../img/slide5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
  }
  .bottom{
padding-top: 70%;

  }
  .st{display: flex;
  justify-content: start;
  }
  .en{display: flex;
    justify-content: flex-end;
    }

    .desc_h4{
      color: #CC9933;
        font-family: 'Spectral', serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 18%;
    text-align: left;
    padding-left: 20%;
    }
    .descs_h4{

      padding-top: 0%;
      color: #6dc7d6;
          font-family: 'Spectral', serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-left: 20%;
    }
    .p_desc{
      text-align: right;
    color: #ffffff;
        font-family: 'Spectral', serif;
    font-size: 16px;
    padding-top: 10px;
    }
    .bottom_p{
      color: #ffffff;
          font-family: 'Spectral', serif;
      font-size: 18px;
      padding-left: 20%;
  }
  .bottom_p_blue{
    color: #6DC7D6;
        font-family: 'Spectral', serif;
    font-size: 20px;
    padding-left: 20%;
    font-weight: 800;
}
  .bl_krugs{

    border-radius: 200px 200px 200px 200px;
    border-style: solid;
    border-width: 8px 3px 8px 3px;
    border-color: #6DC7D6;
    box-shadow: 0px 0px 10px 0px #6DC7D6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 47px 47px 47px 47px;
  }
    .telek{

      background-image: url(../img/televizar.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      background-position: center;
      position: relative;

    }
    .telek_in{
      border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%,#fffbce 74%, #542100 84%, #ffdbae 99%);
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    width: 100%;
    padding: 10px;
    min-height: 500px;
    }
    .slider{
background-color: #001537;

    }


    .social_h2{
          font-family: 'Sony', serif;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      font-size: 50px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #d67b20 12%, #fff285 25%, #d67b20 36%, #fff285 43%, #d67b20 59%, #84400c 94%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0B2349;
      /* display: table; */
      font-weight: 800;
      background-image: url('../img/hren1.jpg');
      background-repeat: repeat;
      background-position: center center;

}
.contact_form textarea{
  height: 100%;
  width: 65%;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: 'Spectral', serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 30px;
}



.contact_form input
 {
  width: 65%;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  font-size: 15px;
}

.social{

  padding: 50px 0px;
  background-color: #000f6b;
}

.social_div{
  background: linear-gradient( 0deg, rgb(0,22,79) 0%, rgb(0,11,41) 0%, rgb(0,0,2) 0%, rgb(0,11,41) 32%, rgb(0,22,79) 80%);
  padding: 10px;
  display: flex;
  align-items: center;
  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%,#fffbce 74%, #542100 84%, #ffdbae 99%);
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  justify-content: center;
  margin: 20px;
}
.contact_form{
background-color: #001537;

}
.knopochka{
  color: #ffffff;
    width: 65%;
    text-transform: uppercase;
    font-weight: 700;
}
.contact_p{
  color: #ffffff;
      font-family: 'Spectral', serif;
  font-size: 16px;
  padding-top: 10px;
  padding-top: 10px;
  text-align: center;
}
.p_social{

  color: white;
  font-size: 15px;
  padding-left: 20px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 800;
      font-family: 'Spectral', serif;
}
/*
Адаптив
*/

@media only screen and (max-width:1200px) {

  .news_footer,
  .main-header {
    display: none;


  }


}

@media only screen and (max-width:992px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
  }
}

@media only screen and (max-width:720px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }

  .row {

    justify-content: center;
  }

  .solo_news img {
    width: 100%;
  }
}

@media only screen and (max-width:540px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 47%;
    flex: 0 0 100%;
    margin-right: 40px;
  }
}