@font-face {
  font-family: 'Sony';
  src: url('../fonts/Sony_rus.otf') format('truetype')
}

body {
  font-family: "Spectral", sans-serif;
  margin: 0;
  padding: 0;

}

h2,
h3,
p {
  font-family: "Spectral", sans-serif;

}

.top_a:hover {

  text-decoration: none;
}




.main-header {
  background-image: url("../img/main-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  outline: 5px solid red;

}

.videorolik {
  width: 100%;
  height: 100%;


}

.header_nav {
  display: flex;
  align-items: center;
  padding-left: 100px;

}

.solo_news_section {
  background-color: #001537;

}

.header_nav ul {
  list-style-type: none;
  display: flex;



}

.solo_p {
  padding: 50px 0;
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 16px;
  text-align: center;

}

.solo_news img {

  width: 50%;
}

.solo_news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.bottom_a {

  font-size: 12px;
  font-family: "Spectral";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 10.68px rgba(65, 65, 65, 0.004);


}




.top_a {
  font-size: 12px;
  font-family: "Spectral";
  color: rgb(4, 20, 98);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: inset 0 -20px 10px 0 #8986b8;
  font-weight: 900;
  white-space: nowrap;

}

.header_nav li:not(last-child) {
  padding-right: 10px;

}


.h2_news {
  color: #FFFFFF;
  font-family: 'Spectral', serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 50px;


}

.style-news-list {
  padding-top: 50px;
}

.news_li {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  color: #001537;
  ;
  font-family: 'Spectral', serif;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;

}

.news_li .krug {

  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.news_li img {
  width: 100%;
  /* min-height: 25px; */
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

ul {

  list-style-type: none;
}

.news_p {

  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -ms-text-overflow: ellipsis;
  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 5;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
}

.news_li h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

div[class^="effect-"] {
  /* margin: 0 auto; */
  padding: 10px 0;
  /* width: 400px; */
  text-align: center;
  border-radius: 15px;
}


.effect-2 {
  background-color: #001537;
}

.effect-2 a {
  padding: 0 20px;
  height: 45px;
  color: #ffffff;
  line-height: 45px;
}

.effect-2 a::before,
.effect-2 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
}

.effect-2 a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.effect-2 a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.effect-2 a:hover::before {
  left: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(-50%);
}

.effect-2 a:hover::after {
  right: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(50%);
}

.effect-2 a:hover {
  color: #ffffff;
  text-decoration: none;

}

.style-news-list {
  margin: 0;

}

.style-news {

  background-color: #001537;
}

.news_li:not(last-child) {
  margin-bottom: 20px;

}

.col-xl-3.news_li {
  padding-right: 0px;
  padding-left: 0px;

  -ms-flex: 0 0 25%;
  flex: 0 0 23%;

  margin-right: 15px;

}

.news_li h3,
.news_li p {

  padding-left: 10px;
  padding-right: 10px;

}


.country_main {

  background-color: #001537;

}

.happy {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  font-family: 'Spectral', serif;
  font-size: 17px;


}

.p_player {
  color: #ffffff;
  font-size: 25px;
  padding-top: 20px;
  font-family: "Spectral";
}

.c_row {
  align-items: center;
}

.krug {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  width: 100%;
}

.players {
  background-color: #001537;
}

.h3_player {

  color: #ffffff;
  font-family: "Spectral";
  font-size: 50px;
}

.happy_d li {
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 15px;


}

.mini_happy {
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 15px;

}

.region_logo {

  width: 40%;
  position: absolute;
  top: 0px;
  left: 8px;

}

.region_main {
  padding-top: 25px;



}



.region_bottom {
  display: flex;
  position: relative;
  padding: 5px;

}

.region_main {
  margin-bottom: 50px;
  border-width: 1px;
  border-color: rgb(0, 182, 255);
  border-style: solid;
  border-radius: 30px;
  background-color: rgb(0, 9, 53);
  box-shadow: 0px 0px 42.5px 7.5px rgba(0, 168, 255, 0.4), 0px 0px 16px 4px rgba(255, 255, 255, 0.5);
}

.region_bottom p {

  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%, #fffbce 74%, #542100 84%, #ffdbae 99%);
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  padding: 10px;
  margin-left: 40%;
  color: tan;
  line-height: 1.2;
  text-align: right;
  font-family: 'Spectral', serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
}

.oblast_img {

  width: 100%;
  /* border-radius: 30px; */
  border-radius: 0px 0px 30px 30px;
  padding-top: 10px;
  height: 300px;
  object-fit: fill;
}


.pulsuk:hover {
  animation: animated-border 1.5s infinite;
}

.happy_d {

  border-radius: 41px 41px 41px 41px;
  border-style: solid;
  border-width: 8px 3px 8px 3px;
  border-color: #6DC7D6;
  box-shadow: 0px 0px 10px 0px #6DC7D6;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 47px 47px 47px 47px;
  margin-bottom: 50px;
}

.happy_notes {
  text-align: center;
  font-family: 'Sony', serif;
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../img/hren.jpg');
  background-repeat: repeat;
  background-position: center center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #015eec;
  font-weight: 800;

}



.regions {
  background-color: #001537;
  background-image: url('../img/cities.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0px;

}

.videorolik_mini {
  height: 25%;
  width: 100%;
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

.h3_region {
  color: rgb(0, 170, 255);
  line-height: 1.2;
  text-align: center;
  font-family: 'Spectral', serif;
  font-weight: 600;
  text-transform: uppercase;
  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%, #fffbce 74%, #542100 84%, #ffdbae 99%) 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  padding: 20px 0px;
  font-size: 20px;
  border-image-slice: 1;
  box-shadow: 0 0 40px 0 #007cfe3c;
  border: 1px solid #ffdbae;
  animation: animated-border 1.5s infinite;
  background-color: #001537;


}

.h3_region span {

  font-size: 15px;
}

.regions ul {

  margin: 0;
}

.completed_konkurs {
  background-color: #001537;
  padding: 50px 0px;

}

.effect-4 {
  background-color: #ffffff;
}

.effect-4 a {
  padding: 8px;
  color: #001537;
  font-weight: bold;
}

.effect-4 a:hover {
  color: #001537;
  transition: color 0.3s;
  text-decoration: none;
}

.effect-4 a::before,
.effect-4 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #001537;
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.effect-4 a::before {
  top: 0;
  transform: translateY(-10px);
}

.effect-4 a::after {
  bottom: 0;
  transform: translateY(10px);
}

.effect-4 a:hover::before,
.effect-4 a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.style-news-list .img_compl_konkurs {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.radius {

  border-radius: 50px;
  background-color: #001537;
  color: #ffffff;
  border: 1px solid;
}

.a_region {
  margin: 0 auto;
  text-align: center;
  display: inherit;
}

.a_region:hover {

  text-decoration: none;
}

.region_img {
  width: 100%;

}

.lines {
  font-family: sans-serif
}

.center {

  text-align: center;
}

.counter_h3 {

  color: #CC9933;
  font-family: 'Spectral', serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.region_counter {
  background-color: #001537;
  padding-top: 50px;

}

.cifra1,
.cifra2 {

  color: #6ec1e4;
  font-family: "Spectral", Sans-serif;
  font-weight: 800;
  font-size: 50px;

}

.slider_img {
  width: 100%;
  height: 100hv;

}

.s1 {
  background-image: url(../img/slaid1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

}

.b_blue {

  background-color: rgb(0, 169, 244);
}

.b_dblue {
  background-color: #3b31c4;

}

.b_brown {
  background-color: #7d490e;
  box-shadow: 0 0px 20px 0 blue !important;


}

.players_h3 {

  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  font-family: "Spectral";
}
.planet_img{
  width: 100%;
  padding-top: 100px;
}

.В_конкурсе_четыре_тура_I_Тур___КОГДА_ПОЮТ_—_ВСЕ {
  font-size: 48px;
  font-family: "Sony [Rus by me]";
  color: rgb(0, 170, 255);
  line-height: 1.5;
  text-align: center;
  text-shadow: 0px 0px 33px rgba(0, 0, 0, 0.45);
  position: absolute;
  left: 143.527px;
  top: 9671.352px;
  width: 729px;
  height: 296px;
  z-index: 320;
}

.planet{
  background-image: url('../img/earth_back.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
  margin: 0 auto;
}

.b_lazur {
  background-color: #00ecea;
}

.video {

  background-color: #001537;
  padding: 50px 0px;

}

.single_h2 {

  text-align: center;
  font-family: 'Sony', serif;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/hren.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #015eec;
  font-weight: 800;
}

.button {
  margin-top: 100px;
  padding: 20px 0px;
  width: 250px;
  font-size: 16px;
  /* font-family: "Sony [Rus by me]"; */
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 10.68px rgba(65, 65, 65, 0.004);
  border-radius: 15px;
  font-family: 'Spectral', serif;
  font-weight: 600;
  box-shadow: inset 5px -5px 20px 0 #0062b8;

}

.slide3_h3_left {
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  top: 30%;
  left: 21%;
  color: #00ecea;
  font-family: 'Spectral', serif;
  font-size: 35px;
}

.slide3_h3_right {
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  top: 30%;
  left: 66%;
  color: #00ecea;
  font-family: 'Spectral', serif;
  font-size: 35px;
}

.bl_krug {

  border-radius: 41px 41px 41px 41px;
  border-style: solid;
  border-width: 8px 3px 8px 3px;
  border-color: #6DC7D6;
  box-shadow: 0px 0px 10px 0px #6DC7D6;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 47px 47px 47px 47px;
}

.project_desc {
  background-color: #001537;

}

.h3_desc {

  color: #CC9933;
  font-family: 'Spectral', serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.desc_p {

  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.btnflip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform-origin: center center;
}

.btnflip-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, .05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 21px;
  text-transform: uppercase;
  color: #fff;
  transition: 1s;

}

.btnflip-item.btnflip__front {
  transform: rotateX(0deg) translateZ(20px);
  box-shadow: inset 5px -5px 20px 0 #0062b8;
}

.btnflip:hover .btnflip-item.btnflip__front {
  transform: rotateX(-180deg) translateZ(20px);
}

.btnflip-item.btnflip__back {
  transform: rotateX(180deg) translateZ(20px);
}

.btnflip:hover .btnflip-item.btnflip__back {
  transform: rotateX(0deg) translateZ(20px);
}

.btnflip-item.btnflip__center {
  background: linear-gradient(to left, #00A9F4, #00a9f4);
}

.btnflip-item.btnflip__center1 {
  background: linear-gradient(to left, #07cccd, #07cccd);
}

.btnflip-item.btnflip__center2 {
  background: linear-gradient(to left, #362AD6, #362AD6);
}

.btnflip-item.btnflip__center::before,
.btnflip-item.btnflip__center1::before,
.btnflip-item.btnflip__center2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #ffdd1f, #c31a5b);
  border-radius: 21px;
  transform: translateZ(-1px);
}

.btnflip:hover .btnflip-item.btnflip__center,
.btnflip:hover .btnflip-item.btnflip__center1,
.btnflip:hover .btnflip-item.btnflip__center2 {
  transform: rotateX(-180deg);
}

.knopka_div {
  position: relative;
  margin-top: 50px;
}

.sliders {
  position: relative;
}

.knopka_slide_left {

  position: absolute;
  top: 10%;
  left: 20%;
}

.knopka_slide_right_bottom_b {
  position: absolute;
  top: 73%;
  left: 65%;
}

.knopka_slide_left_bottom_b {
  position: absolute;
  top: 73%;
  left: 20%;
}

.knopka_slide_left_bottom {
  position: absolute;
  top: 70%;
  left: 20%;
}

.knopka_slide_right_bottom {
  position: absolute;
  top: 70%;
  left: 65%;
}

.knopka_slide_right {

  position: absolute;
  top: 10%;
  left: 65%;
}

.flexik {

  display: flex;
  justify-content: center;
}

.s2 {

  background-image: url('../img/slaid2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%
}

.s3 {

  background-image: url('../img/slaid3.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.s4 {

  background-image: url('../img/slaid4.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.s5 {

  background-image: url('../img/slide5.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

.bottom {
  padding-top: 70%;

}

.st {
  display: flex;
  justify-content: start;
}

.en {
  display: flex;
  justify-content: flex-end;
}

.desc_h4 {
  color: #CC9933;
  font-family: 'Spectral', serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 18%;
  text-align: left;
  padding-left: 20%;
}

.descs_h4 {

  padding-top: 0%;
  color: #6dc7d6;
  font-family: 'Spectral', serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  padding-left: 20%;
}

.p_desc {
  text-align: right;
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 16px;
  padding-top: 10px;
}

.bottom_p {
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 18px;
  padding-left: 20%;
}

.bottom_p_blue {
  color: #6DC7D6;
  font-family: 'Spectral', serif;
  font-size: 20px;
  padding-left: 20%;
  font-weight: 800;
}

.bl_krugs {

  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 8px 3px 8px 3px;
  border-color: #6DC7D6;
  box-shadow: 0px 0px 10px 0px #6DC7D6;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 47px 47px 47px 47px;
}

.telek {

  background-image: url(../img/televizar.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  position: relative;

}

.telek_in {
  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%, #fffbce 74%, #542100 84%, #ffdbae 99%);
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  width: 100%;
  padding: 10px;
  min-height: 500px;
}

.slider {
  background-color: #001537;

}


.social_h2 {
  font-family: 'Sony', serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d67b20 12%, #fff285 25%, #d67b20 36%, #fff285 43%, #d67b20 59%, #84400c 94%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  /* display: table; */
  font-weight: 800;
  background-image: url('../img/hren1.jpg');
  background-repeat: repeat;
  background-position: center center;

}

.contact_form textarea {
  height: 100%;
  width: 65%;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: 'Spectral', serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 30px;
}



.contact_form input {
  width: 65%;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  font-size: 15px;
}

.social {

  padding: 50px 0px;
  background-color: #000f6b;
}

.social_div {
  background: linear-gradient(0deg, rgb(0, 22, 79) 0%, rgb(0, 11, 41) 0%, rgb(0, 0, 2) 0%, rgb(0, 11, 41) 32%, rgb(0, 22, 79) 80%);
  padding: 10px;
  display: flex;
  align-items: center;
  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%, #fffbce 74%, #542100 84%, #ffdbae 99%);
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  justify-content: center;
  margin: 20px;
}

.contact_form {
  background-color: #001537;

}

.knopochka {
  color: #ffffff;
  width: 65%;
  text-transform: uppercase;
  font-weight: 700;
}

.contact_p {
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 16px;
  padding-top: 10px;
  padding-top: 10px;
  text-align: center;
}

.p_social {

  color: white;
  font-size: 15px;
  padding-left: 20px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Spectral', serif;
}


.anketa{

  background-color: #001537;
  border-top: 1px solid #6EC1E4;
}
.h2_anketa{
  background-color: #001537;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  font-family: 'Spectral', serif;
  padding: 20px 0px;
  color: #ffffff;
  margin: 0;

}
.anketa p, li{

  padding: 15px 20px;
  font-family: 'Spectral', serif;
  font-size: 20px;
  color: #ffffff;
}
.anketa li{
  font-weight: bold;
}

.modals{
  width: 70%;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: left;
    padding: 20px;
    overflow: overlay;
    transition: max-height 0.2s ease-out;
    background-color: rgb(0, 21, 55);
    color: rgb(255, 255, 255);
    margin-top: 70px;
}

.span_close{
  width: 21px;
    height: 21px;
    position: absolute;
    font-size: 50px;
    top: -10px;
    right: 20px;
    cursor: pointer;
    display: block;
}


.overley{

  z-index: 37;
  position: fixed;
  background: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}
.blue{
  background-color: #6EC1E4;
}
.dark_blue{

  background-color: #4054B2;
}

.knopka_uchsctnik_top{
  padding: 15px 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Spectral";
    text-align: center;
    font-size: 12px;
}

.blue:hover{
background-color: #D8AE7B;
text-decoration: none;
color: #ffffff;


}
.dark_blue:hover{
  background-color: #C3EDFF;
  text-decoration: none;
  color: #001537;
  
  
  }
.ramka{
  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 8px 3px 8px 3px;
  border-color: #6DC7D6;
  box-shadow: 0px 0px 10px 0px #6DC7D6;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  border-radius: 70px 70px 70px 70px;
}
.uchastnik_video{
  background-color: #001537;
  padding: 50px 0px;

}
.videorolik_uch{
  width: 100%;
  height: 700px;
  padding: 50px;
}
.planet_h2_bottom{
  text-align: center;
  font-family: 'Sony', serif;
  font-size: 30px;
  text-transform: uppercase;
  background-image: url(../img/hren.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #015eec;
  font-weight: 800;
}
.planet .col-lg-8{
  padding-bottom: 100px;
}
.span_planet_left{

  font-family: 'Sony', serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d67b20 12%, #fff285 25%, #d67b20 36%, #fff285 43%, #d67b20 59%, #84400c 94%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  /* display: table; */
  font-weight: 800;
  background-image: url(../img/hren1.jpg);
  background-repeat: repeat;
  background-position: center center;
  margin-right: 50px;
}
.span_planet_right{

  font-family: 'Sony', serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d67b20 12%, #fff285 25%, #d67b20 36%, #fff285 43%, #d67b20 59%, #84400c 94%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  /* display: table; */
  font-weight: 800;
  background-image: url(../img/hren1.jpg);
  background-repeat: repeat;
  background-position: center center;
  margin-left: 50px;
}
.planet_h2_top{
  text-align: center;
    font-family: 'Sony', serif;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 50px;
    color: #949590;
    font-weight: 600;
}
.answer_questions{
  background-color: #000F64;

}
.accordion {
  background-color: #000000;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 2px solid #D8AE7B;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Spectral", serif;
}



.accordion:after {
  content: '\002B';
  color: #D8AE7B;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel p, ol{
  padding: 15px 20px;
  font-family: 'Spectral', serif;
  font-size: 15px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(0, 21, 55);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #D8AE7B;

}
.rules_p{
  color: #ffffff;
  font-family: 'Spectral', serif;
  font-size: 20px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.span_rules{
  color: #6cc;
}
.answer_questions .col-lg-12{
  padding: 50px 0;
}
.girlquar .col-lg-6{
  padding: 50px 0;
}
.girlquar{
  background-color: #000F64;
}
.girlquar h3{
  font-family: 'Sony', serif;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #d67b20 12%, #fff285 25%, #d67b20 36%, #fff285 43%, #d67b20 59%, #84400c 94%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    /* display: table; */
    font-weight: 800;
    background-image: url(../img/hren1.jpg);
    background-repeat: repeat;
    background-position: center center;
}
.rules{
  background-color: #000F64;
  background-image: url('../img/rules_fon.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.golden_bordik{
  box-shadow: 0px 0px 10px 0px #6EC1E4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px;
  margin-bottom: 50px;
  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%, #fffbce 74%, #542100 84%, #ffdbae 99%);
  border-width: 5px;
  border-style: solid;
  border-image-slice: 1;
}
.h2_rules{

    color: #0160CB;
    font-weight: 600;
    font-size: 30px;
    font-family: "Spectral", serif;
    text-align: center;

}
.rules .col-lg-12{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  box-shadow: 0px 0px 10px 0px #6EC1E4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px;
  border-radius: 16px 16px 16px 16px;
  margin: 50px 0;
}
.children{
  width: 100%;
}
.golden_bord{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #D8AE7B;
  box-shadow: 0px 0px 10px 0px #6EC1E4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px;
  margin-bottom: 50px;
}
.svaz{
  background-color: #000F64;
  background-image: url('../img/svaz_fon.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button_svaz{
  font-size: 12px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #63D1FF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px 0px #FFFFFF;
    font-family: 'Spectral', serif;
    padding: 20px 40px;
    margin: 50px 0;
}
.right{
  text-align: right;
}
.button_svaz:hover{
  text-decoration: none;
  color: inherit;
  box-shadow: none;
}
.svaz h2{
  padding-top: 100px;
}
.relativ{
  position: relative;
}
.quar_img{
  width: 100%;
  position: absolute;
  top: 75px;
  left: 500px;
}
/*
Адаптив
*/

@media only screen and (max-width:1200px) {

  .news_footer,
  .main-header {
    display: none;


  }

  .knopka_slide_left {
    top: 0%;
    left: 5%;
  }

  .knopka_slide_right {
    top: 0%;
    left: 70%;
  }

  .slide3_h3_left {

    left: 8%;

  }

  .slide3_h3_right {
    left: 72%;

  }

}

@media only screen and (max-width:992px) {
  .slide3_h3_left {

    top: 35%;

  }

  .slide3_h3_right {
    top: 35%;

  }

  .knopka_slide_left_bottom {
    top: 60%;
    left: 13%;

  }

  .knopka_slide_right_bottom {
    top: 60%;
    left: 65%;
  }

  .happy_notes {
    font-size: 40px;
  }

  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
  }
}

@media only screen and (max-width:768px) {

  .social_h2 {

    font-size: 45px;
  }

  .knopka_slide_left_bottom_b {
    top: 60%;
    left: 8%;
  }

  .knopka_slide_right_bottom_b {
    position: absolute;
    top: 60%;
    left: 70%;
  }

  .slide3_h3_left {
    top: 45%;
    left: 9%;
    font-size: 25px;


  }

  .slide3_h3_right {
    top: 45%;
    font-size: 25px;
  }

  .button {

    width: 190px;
    font-size: 10px;

  }

  .desc_h4,
  .descs_h4 {
    padding-left: 0px;
    text-align: center;
  }

  .bottom_p_blue {
    padding-left: 0px;
    text-align: center;
  }

  .bottom_p {
    padding-left: 0px;
    text-align: center;

  }

  .happy_notes {
    font-size: 30px;
  }

  .happy {
    font-size: 15px;
  }


  .regions ul {
    margin: 0;
    padding: 0;
  }

  .region_logo {
    top: -22px;
  }

  .oblast_img {
    object-fit: cover;
  }






}

@media only screen and (max-width:720px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }

  .row {

    justify-content: center;
  }

  .solo_news img {
    width: 100%;
  }
}

@media only screen and (max-width:576px) {

  .h3_player,
  .p_player {
    text-align: center;
  }

  .center {
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
  }

  .knopka_slide_left_bottom_b {
    top: 55%;
  }

  .knopka_slide_right_bottom_b {
    top: 55%;
  }

  .button {
    width: 150px;
    font-size: 9px;
  }

  .slide3_h3_left {
    top: 55%;
    left: 6%;
  }

  .knopka_slide_left_bottom {
    top: 45%;
  }

  .knopka_slide_right_bottom {
    top: 45%;
  }

  .slide3_h3_right {
    top: 55%;
  }

  .happy_notes {
    font-size: 40px;
  }

  .region_bottom p {

    font-size: 21px;
  }

  .social_h2 {

    font-size: 40px;
  }
}

@media only screen and (max-width:540px) {

  .button {
    width: 150px;
    font-size: 9px;
    display: none;
  }

  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 47%;
    flex: 0 0 100%;
    margin-right: 40px;
  }
}

@media only screen and (max-width:414px) {
  .region_bottom p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .region_bottom p {
    font-size: 15px;
  }

  .region_logo {
    top: -8px;
  }
}

@media only screen and (max-width:360px) {
  .slide3_h3_right {
    font-size: 15px;
  }

  .slide3_h3_left {
    font-size: 15px;
  }

  .region_bottom p {
    font-size: 16px;
  }

  .region_logo {
    top: -5px;
  }
}

@media only screen and (max-width: 320px) {
  .happy_notes {
    font-size: 35px;
  }

  .region_bottom p {
    font-size: 12px;
  }

  .social_h2 {
    font-size: 35px;
  }
}