body {
  font-family: "Spectral", sans-serif;
  margin: 0;
  padding: 0;

}

h2,
h3,
p {
  font-family: "Spectral", sans-serif;

}

.top_a:hover {

  text-decoration: none;
}

@font-face {
  font-family: 'Sony';
  src: url('../fonts/16709.ttf') format('truetype')
}


.main-header {
  background-image: url("../img/main-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  outline: 5px solid red;

}

.videorolik {
  width: 100%;
  height: 300px;


}

.header_nav {
  display: flex;
  align-items: center;
  padding-left: 100px;

}

.solo_news_section {
  background-color: #001537;

}

.header_nav ul {
  list-style-type: none;
  display: flex;



}

.solo_p {
  padding: 50px 0;
  color: #ffffff;
  font-family: "spectra", Sans-serif;
  font-size: 16px;
  text-align: center;

}

.solo_news img {

  width: 50%;
}

.solo_news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.bottom_a {

  font-size: 12px;
  font-family: "Spectral";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 10.68px rgba(65, 65, 65, 0.004);


}




.top_a {
  font-size: 12px;
  font-family: "Spectral";
  color: rgb(4, 20, 98);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: inset 0 -20px 10px 0 #8986b8;
  font-weight: 900;
  white-space: nowrap;

}

.header_nav li:not(last-child) {
  padding-right: 10px;

}


.h2_news {
  color: #FFFFFF;
  font-family: "spectra", Sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 50px;


}

.style-news-list {
  padding-top: 100px;
}

.news_li {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  color: #001537;
  ;
  font-family: "spectra", Sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;

}

.news_li img {
  width: 100%;
  /* min-height: 25px; */
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

ul {

  list-style-type: none;
}

.news_p {

  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -ms-text-overflow: ellipsis;
  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 5;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
}

.news_li h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

div[class^="effect-"] {
  /* margin: 0 auto; */
  padding: 10px 0;
  /* width: 400px; */
  text-align: center;
  border-radius: 15px;
}


.effect-2 {
  background-color: #001537;
}

.effect-2 a {
  padding: 0 20px;
  height: 45px;
  color: #ffffff;
  line-height: 45px;
}

.effect-2 a::before,
.effect-2 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
}

.effect-2 a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.effect-2 a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.effect-2 a:hover::before {
  left: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(-50%);
}

.effect-2 a:hover::after {
  right: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(50%);
}

.effect-2 a:hover {
  color: #ffffff;
  text-decoration: none;

}

.style-news-list {
  margin: 0;

}

.style-news {

  background-color: #001537;
}

.news_li:not(last-child) {
  margin-bottom: 20px;

}

.col-xl-3.news_li {
  padding-right: 0px;
  padding-left: 0px;

  -ms-flex: 0 0 25%;
  flex: 0 0 23%;

  margin-right: 15px;

}

.news_li h3,
.news_li p {

  padding-left: 10px;
  padding-right: 10px;

}


.country_main{

background-color: #001537;

}
.happy{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
font-family: "spectra", Sans-serif;
font-size: 17px;


}
.happy_d li{
color: #ffffff;
font-family: "spectra", Sans-serif;
font-size: 15px;


}
.mini_happy{
color: #ffffff;
font-family: "spectra", Sans-serif;
font-size: 15px;

}
.region_logo{

  width: 40%;
  position: absolute;
  top: 0px;
  left: 8px;

}
.region_main{
  padding-top: 25px;



}



.region_bottom{
  display: flex;
  position: relative;
  padding: 5px;

}
.region_main{
  margin-bottom: 50px;
  border-width: 1px;
  border-color: rgb(0, 182, 255);
  border-style: solid;
  border-radius: 30px;
  background-color: rgb(0, 9, 53);
  box-shadow: 0px 0px 42.5px 7.5px rgba(0, 168, 255, 0.4), 0px 0px 16px 4px rgba(255, 255, 255, 0.5);
}
.region_bottom p{
  border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%,#fffbce 74%, #542100 84%, #ffdbae 99%);
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  padding: 10px;
  margin-left: 40%;
  color: rgb(0, 170, 255);
  line-height: 1.2;
  text-align: right;
  font-family: "spectra", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.oblast_img{

  width: 100%;
  /* border-radius: 30px; */
  border-radius: 0px 0px 30px 30px;
  padding-top: 10px;
}




.happy_d{

  border-radius: 41px 41px 41px 41px;
  border-style: solid;
    border-width: 8px 3px 8px 3px;
    border-color: #6DC7D6;
    box-shadow: 0px 0px 10px 0px #6DC7D6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 47px 47px 47px 47px;
    margin-bottom: 50px;
}
.happy_notes{
text-align: center;
font-family: "spectra", Sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../img/hren.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #015eec;
    font-weight: 800;

}



.regions{
background-color: #001537;

}





.h3_region{
    color: rgb(0, 170, 255);
    line-height: 1.2;
    text-align: center;
    font-family: "spectra", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-image: linear-gradient(90deg, #ac7c4d 0%, #fffbce 12%, #542100 33%, #ffdbae 49%, #ac7c4d 61%,#fffbce 74%, #542100 84%, #ffdbae 99%) 1;
    border-width: 1px;
    border-style: solid;
    border-radius:30px;
    padding: 20px 0px;
    font-size: 20px;
    border-image-slice: 1;
    box-shadow: 0 0 40px 0 #007cfe3c;
    border: 1px solid #ffdbae;
    animation: animated-border 1.5s infinite;
  

}

/*
Адаптив
*/

@media only screen and (max-width:1200px) {

  .news_footer,
  .main-header {
    display: none;


  }


}

@media only screen and (max-width:992px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
  }
}

@media only screen and (max-width:720px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }

  .row {

    justify-content: center;
  }

  .solo_news img {
    width: 100%;
  }
}

@media only screen and (max-width:540px) {
  .col-xl-3.news_li {
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 47%;
    flex: 0 0 100%;
    margin-right: 40px;
  }
}